#pitch.row
  .col-sm-12.center
    %p Give your customers an experience that keeps them coming back.
    
#products.row
  .col-sm-12
    %h2 Our Themes
  .product.col-sm-12
    %a{:href => "#"} 
      =image_tag 'http://placehold.it/280x200'
    .description
      %h4= link_to 'Theme Title'
      %p $50.00
  .product.col-sm-12
    %a{:href => "#"} 
      =image_tag 'http://placehold.it/280x200'
    .description
      %h4= link_to 'Theme Title'
      %p $50.00
  .product.col-sm-12
    %a{:href => "#"} 
      =image_tag 'http://placehold.it/280x200'
    .description
      %h4= link_to 'Theme Title'
      %p $50.00
  .product.col-sm-12
    %a{:href => "#"} 
      =image_tag 'http://placehold.it/280x200'
    .description
      %h4= link_to 'Theme Title'
      %p $50.00
  .product.col-sm-12
    %a{:href => "#"} 
      =image_tag 'http://placehold.it/280x200'
    .description
      %h4= link_to 'Theme Title'
      %p $50.00
  .product.col-sm-12
    %a{:href => "#"} 
      =image_tag 'http://placehold.it/280x200'
    .description
      %h4= link_to 'Theme Title'
      %p $50.00
  .product.col-sm-12
    %a{:href => "#"} 
      =image_tag 'http://placehold.it/280x200'
    .description
      %h4= link_to 'Theme Title'
      %p $50.00
  .product.col-sm-12
    %a{:href => "#"} 
      =image_tag 'http://placehold.it/280x200'
    .description
      %h4= link_to 'Theme Title'
      %p $50.00
  .product.col-sm-12
    %a{:href => "#"} 
      =image_tag 'http://placehold.it/280x200'
    .description
      %h4= link_to 'Theme Title'
      %p $50.00