#product-featured.row
  .product.col-xs-12.col-lg-10.col-lg-offset-1
    %a{:href => "themes/theme_name"} 
      =image_tag 'http://placehold.it/1140x350', class: 'img-responsive'
#products.row
  .col-lg-10.col-lg-offset-1
    .row
      .product.col-xs-6.col-sm-6.col-md-4
        %a{:href => "#"} 
          =image_tag 'http://placehold.it/375x250', class: 'img-responsive'
        .description
          %h4= link_to 'Theme Title'
          %p $50.00
      .product.col-xs-6.col-sm-6.col-md-4
        %a{:href => "#"} 
          =image_tag 'http://placehold.it/375x250', class: 'img-responsive'
        .description
          %h4= link_to 'Theme Title'
          %p $50.00
      .product.col-xs-6.col-sm-6.col-md-4
        %a{:href => "#"} 
          =image_tag 'http://placehold.it/375x250', class: 'img-responsive'
        .description
          %h4= link_to 'Theme Title'
          %p $50.00
      .product.col-xs-6.col-sm-6.col-md-4
        %a{:href => "#"} 
          =image_tag 'http://placehold.it/375x250', class: 'img-responsive'
        .description
          %h4= link_to 'Theme Title'
          %p $50.00
      .product.col-xs-6.col-sm-6.col-md-4
        %a{:href => "#"} 
          =image_tag 'http://placehold.it/375x250', class: 'img-responsive'
        .description
          %h4= link_to 'Theme Title'
          %p $50.00
      .product.col-xs-6.col-sm-6.col-md-4
        %a{:href => "#"} 
          =image_tag 'http://placehold.it/375x250', class: 'img-responsive'
        .description
          %h4= link_to 'Theme Title'
          %p $50.00
